<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdanielgarcia.mygermanvocabulary">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MGVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_fdgc_german"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fdgc_german_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGermanVocabulary">
        <activity
            android:name="com.fdanielgarcia.mygermanvocabulary.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyGermanVocabulary.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>