<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdanielgarcia.mygermanvocabulary">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MGVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_fdgc_german"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fdgc_german_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGermanVocabulary"
        android:configChanges="locale">
        <activity
            android:name="com.fdanielgarcia.mygermanvocabulary.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyGermanVocabulary.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ShowPersonalPronounsActivity"
            android:label="@string/show_personal_pronouns_activity_label"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.ShowGermanPrepositionsActivity"
            android:label="@string/show_prepositions_activity_label"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.ShowComparativesSuperlativesActivity"
            android:label="@string/show_comparatives_superlatives_activity_label"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.ShowAdjectiveDeclensionActivity"
            android:label="@string/show_adjective_declension_activity_label"
            android:screenOrientation="portrait"/>
    </application>

</manifest>